body
{
	background-color:#505452;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

#container
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.rectangle
{
	width: 1160px;
	margin: 10px;
	text-align: center;
}

.square
{
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

#logo
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	width: 900px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.tile
{
	margin: 10px;
	width: 120px;
	height: 80px;
    text-align: center;
	padding-top: 10px;
	font-size: 18px;
}


#howto
{
	background-color: #eb6e49;
	float: left;
	margin-left: 370px;
}

#howto:hover   
{
	background-color: #da5d38
}


#projekt
{
	background-color: #93c748;
	float: left;
}

#projekt:hover    
{
	background-color: #82b637
}

#onas
{
	background-color: #cc87c3;
	float: left;
}

#onas:hover
{
	background-color: #bb76b2
}


a.tilelink
{
	color: #ffffff;
	text-decoration: none;
	display: block;	
}


.square
{
	margin-top: 50px;;
	color: black;
}

#zaloguj
{
	width: 300px;
	background-color:#a2bdb9;
	float: left;
	margin-right: auto;
	margin-left: 265px;
	height: 200px;
	padding-left: 20px;

}

#zarejestruj
{
	width: 300px;
	background-color: #a2bdb9;
	float: left;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
	padding-left: 20px;

}

#przerwa
{
	width: 50px;
	background-color: #505452;
	float: left;
	margin-right: auto;
	margin-left: auto;

}

#wybierzapteczke
{
	width: 300px;
	background-color:#a2bdb9;
	float: left;
	margin-right: auto;
	margin-left: 265px;
	height: 200px;
	padding-left: 20px;

}

#dodajapteczke
{
	width: 400px;
	background-color: #a2bdb9;
	float: left;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
	padding-left: 20px;
}

#wybierzlek
{
	width: 400px;
	background-color: #a2bdb9;
	float: left;
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	padding-left: 20px;
}

#dodajlek
{
	width: 600px;
	background-color: #a2bdb9;
	float: left;
	margin-right: auto;
	margin-left: auto;
	height: 250px;
	padding-left: 20px;
}

#zuzycielekow
{
	width: 400px;
	background-color: #a2bdb9;
	float: left;
	margin-right: auto;
	margin-left: 200px;
	height: 300px;
	padding: 10px;
	padding-left: 20px;
	
}

#listautylizacji
{
	width: 200px;
	background-color: #a2bdb9;
	float: left;
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	padding: 10px;;
	text-align: center;
	color: red;
	font-weight: bold;
	
}